body {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 200px;
    background-color: aquamarine;
}

#text-routify {
    color: #6404ec;
    margin-top:10px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-optimize {
    transition: all 0.3s ease 0s;
} 

#btn-optimize:hover {
  background: #4800ac;		
}